{
  "presets": ["next/babel"],
  "plugins": [
    ["prismjs", {
      "languages": ["javascript", "graphql", "json"],
      "plugins": ["line-numbers", "copy-to-clipboard"],
      "theme": "okaidia"
    }]
  ]
}
