{
  "presets": ["next/babel"],
  "plugins": [
    ["prismjs", {
      "languages": ["graphql", "json"],
      "plugins": ["copy-to-clipboard"],
      "theme": "okaidia",
      "css": true
    }]
  ]
}
